<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Elenco Professionisti')"></head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>
	
	<section class="generic_section">
		<div class="container">
			<div class="mb-4">
				<h2>Elenco Professionisti</h2>
			</div>

			<div class="row">

				<div class="col-md-4">
					<div class="team-member">
						<figure>
							<img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/lauren-cox.jpg" alt="" class="img-responsive">
							<figcaption>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
								<ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
								</ul>
							</figcaption>
						</figure>
						<h4>Lauren Cox</h4>
						<p>Creative Director</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="team-member">
						<figure>
							<img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/jessie-barnett.jpg" alt="" class="img-responsive">
							<figcaption>
								<p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo eligendi.</p>
								<ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
								</ul>
							</figcaption>
						</figure>
						<h4>Jessie Barnett</h4>
						<p>UI/UX Designer</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="team-member">
						<figure>
							<img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
							<figcaption>
								<p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
								<ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
								</ul>
							</figcaption>
						</figure>
						<h4>Terry Fletcher</h4>
						<p>Web Developer</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="team-member">
						<figure>
							<img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/lauren-cox.jpg" alt="" class="img-responsive">
							<figcaption>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
								<ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
								</ul>
							</figcaption>
						</figure>
						<h4>Lauren Cox</h4>
						<p>Creative Director</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="team-member">
						<figure>
							<img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/lauren-cox.jpg" alt="" class="img-responsive">
							<figcaption>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
								<ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
								</ul>
							</figcaption>
						</figure>
						<h4>Lauren Cox</h4>
						<p>Creative Director</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="team-member">
						<figure>
							<img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/lauren-cox.jpg" alt="" class="img-responsive">
							<figcaption>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
								<ul>
									<li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
								</ul>
							</figcaption>
						</figure>
						<h4>Lauren Cox</h4>
						<p>Creative Director</p>
					</div>
				</div>


			</div>

			<br>

			<div th:replace="fragments/layout.html :: backButton(back='/', text1='Indietro', back2='no', text2=' ')"></div>
		</div> <!-- end container -->
	</section>

	<footer th:replace="fragments/layout.html :: fondo"></footer>
	<div th:replace="fragments/layout.html :: jsFiles"></div>
</body>
</html>